body {
  margin: 0;
  background: #141414;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  background: black;
  padding: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 1000;
}

.navbar button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.navbar button:hover {
  color: #e50914;
}

.home-container {
  padding: 20px;
}

.category-section {
  margin-top: 30px;
}

.row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.card {
  min-width: 180px;
  background: #222;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.08);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-info {
  padding: 10px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 250px;
}

/* MOBILE */
@media (max-width: 768px) {
  .row {
    gap: 10px;
  }

  .card {
    min-width: 140px;
  }

  .card img {
    height: 200px;
  }

  input {
    width: 100%;
  }
}
.logo {
  color: #e50914;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
  font-size: 14px;
}

.navbar a.active {
  color: #e50914;
  font-weight: bold;
}