body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
}

.header {
  background: black;
  padding: 15px;
  color: red;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #222;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: red;
}